include calculate_reviews.py
include config.py
include importer.py
include product_backfill.py
include product_loader.py
include product_scraper.py

include capstone.wsgi
include foodreview.py
include product_import.cql

recursive-include templates *.html
