include importer.py
include calculate_reviews.py
include config.py
include product_loader.py
include product_backfill.py
include capstone.wsgi
include foodreview.py

recursive-include templates *.html
