{% extends "_layout.html" %}
{% block content %}

  <div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">{{ tier }}-Star Reviews</div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Product</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
    {% for item in products %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td><img src="{{ item.small_img_url }}"></td>
            <td><a href="/review/{{item.asin}}">{{ item.title }}</a></td>
            <td>{{ item.score }}</td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% endblock %}
  
