<h1>{{ info.product_name }}</h1>
<hr/>

<img src="{{ info.product_img_url }}"/>
<h2>Score: {{ info.avg_reviews }} stars!</h2>

<blockquote>
    {{ info.product_description }}
</blockquote>

<div>
    {% for review in results %}
    <div>
        <div>"{{ review.summary }}" by {{review.profile_name}}</div>
        <div>
            {{ review.score }} stars
        </div>
        <div>
            {{ review.helpfulness }} found this review helpful
        </div>
        <div>
            {{ review.text }}
        </div>
    </div>
    <hr/>
    {% endfor %}
</div>
